@media only screen and(max-width: 379px){
    .logo img{
        display: flex;
        position: absolute;
        right: 30px;
        top: 20px;
    }
    .latar img{
        display: flex;
        position: absolute;
        top: 22%;
        right: 12%;
    }
    .latar h1{
        position: absolute;
        top: 60%;
        left: 6%;
    }
    .latar p{
        position: absolute;
        top: 70%;
        left: 10%;
    }
    .lanjut img{
        position: absolute;
        bottom: 20px;
        right: 30px;
        cursor: pointer;
    }
}