*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(255, 255, 255);
    font-family: sans-serif;
    overflow-x: hidden;
}
.logo img{
    display: flex;
    width: 20%;
    position: absolute;
    right: 30px;
    top: 20px;
}
.latar h1{
    width: 80%;
    font-size: 20px;
    position: absolute;
    top: 15%;
    left: 18%;
}
.latar img{
    display: flex;
    width: 72%;
    position: absolute;
    top: 22%;
    right: 12%;
}
.form{
    position: absolute;
    top: 55%;
    left: -30px;
}
.form label{
    font-size: 10px;
    position: relative;
    left: 35%;
    top: -20px;
}
.form input{
    width: 130px;
    border-radius: 3px;
    border: solid 1px;
    font-size: 12px;
}
.form1{
    position: absolute;
    top: 55%;
    right: 40px;
}
.form1 label{
    font-size: 10px;
    position: absolute;
    left: 1%;
    top: -15px;
}
.form1 input{
    width: 130px;
    border-radius: 3px;
    border: solid 1px;
    font-size: 12px;
}
.form2{
    position: absolute;
    top: 60.5%;
    left: 42px;
}
.form2 label{
    font-size: 10px;
    position: absolute;
    left: 1%;
    top: -15px;
}
.form2 input{
    width: 130px;
    border-radius: 3px;
    border: solid 1px;
    font-size: 12px;
}
.form3{
    position: absolute;
    top: 66%;
    left: 42px;
}
.form3 label{
    font-size: 10px;
    position: absolute;
    left: 0%;
    top: -15px;
}
.form3 textarea{
    width: 180px;
    height: 45px;
    border-radius: 3px;
    border: solid 1px;
    font-size: 12px;
}
.form4{
    position: absolute;
    top: 75%;
    left: 11.5%;
}
.form4 label{
    font-size: 10px;
    position: absolute;
    left: 1%;
    top: -15px;
}
.form4 input{
    width: 150px;
    border-radius: 3px;
    border: solid 1px;
    font-size: 12px;
}
.form5{
    position: absolute;
    top: 80.5%;
    left: 11.5%;
}
.form5 label{
    font-size: 10px;
    position: absolute;
    left: 1%;
    top: -15px;
}
.form5 input{
    width: 150px;
    border-radius: 3px;
    border: solid 1px;
    font-size: 12px;
}
.form6{
    position: absolute;
    top: 85%;
    left: 12%;
}
.form6 input{
    font-size: 10px;
    background-color: none;
    font-size: 10px;
}
.form6 p{
    font-size: 10px;
    padding-top: 5px;
}
.form6 button{
    position: absolute;
    top: 50px;
    left: 60%;
    background: none;
    border: solid 2px #FAB50E;
    border-radius: 20px;
    width: 60px;
    height: 20px;
    font-size: 10px;
}
.lanjut img{
    width: 5%;
    position: absolute;
    top: 30px;
    left: 30px;
    transform: rotate(180deg);
    cursor: pointer;
}